<!--
<div class="container-fluid p-3">

  <div class="col-md-12 p-1">
    <h1>Listagem de Questões</h1>
  </div>
  <div class="card col-md-8 mx-auto mb-3 bg-light" *ngFor="let tema of temas; let i = index;">
    <div class="p-3">
      <h2 class="card-title"> {{tema.nome}} </h2>
      <div *ngFor="let questao of questoes; let j = index;">
        <div *ngIf="questao.tema.id === tema.id" class="mb-2">
          <app-questao-card [questao]="questao"></app-questao-card>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="container-fluid p-3">
  <div class="col-md-12 p-1">
    <h1>Listagem de Questões</h1>
  </div>
    <div class="col-md-8 mx-auto mb-3" *ngFor="let questao of questoes; let j = index;">
      <app-questao-card [questao]="questao"></app-questao-card>
    </div>
</div>