<div id="accordion">
  <div class="card" *ngFor="let area of areas">
    <div class="card-header" id="area-{{area.id}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{area.id}}" aria-expanded="false" attr.aria-controls="collapse{{area.id}}">
          {{area.nome}}
        </button>
      </h5>
    </div>
    <div id="collapse{{area.id}}" class="collapse" attr.aria-labelledby="area-{{area.id}}" *ngIf="area.subAreas.length > 0 || area.temas.length > 0">
      <div class="card-body">
        <app-areas [areas]="area.subAreas"></app-areas>
        <ul class="list-group">
          <li class="list-group-item disabled" *ngFor="let tema of area.temas">{{tema.nome}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
