<div class="card border-1">

  <!-- ID E TÍTULO DA QUESTÃO ATUAL -->
  <div class="pt-3 px-3" data-toggle="collapse" attr.data-target="#questao-{{questao.id}}">
     
      <b>{{questao.temasAreas.tema?.nome}}</b> {{ " - (" + getAreasConhecimento() + ")"}}

      <hr>
      <h4>{{questao.texto}} </h4>
      <small class="float-right text-muted">Mostrar/Esconder</small>
  </div>

  <!-- INFORMAÇÕES DA QUESTÃO ATUAL --><hr>
  <div class="collapse px-3" id="questao-{{questao.id}}">

    <!-- USAR OUTRO COMPONENTE PARA ARMAZENAR TEXTOS MAIORES -->
    <div class="form-group">
      <label>Opções</label>
      <div class="list-group">
        <div class="list-group-item" [ngClass]="{'bg-success': questao.opcaoCorretaId == opcao.id}" *ngFor="let opcao of questao.opcoes; let i =index">{{opcao.texto}}</div>
      </div>
    </div>

    <div class="form-group">
      <label>Categoria Bloom</label>
      <input disabled type="text" value="{{questao.categoriaBloom}}" class="form-control">
    </div>

    <!-- USAR OUTRO COMPONENTE PARA ARMAZENAR MELHOR ISSO -->
    <div class="form-group" *ngIf="questao.figuras.length>0">
      <label>Figuras</label>
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let figura of questao.figuras">
          <span class="float-left text-muted mx-3 mb-2">{{figura.descricao}}</span>
          <img src="{{figura.atributo}}" class="img-thumbnail">
        </div>
      </div>
    </div>

    <!-- USAR OUTRO COMPONENTE PARA ARMAZENAR MELHOR ISSO -->
    <div class="form-group" *ngIf="questao.artigos.length>0">
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Artigos
        </button>
        <ul class="dropdown-menu">
          <div *ngFor="let artigo of questao.artigos; let i=index">
            <li>
              <a class="dropdown-item" href="{{artigo.url}}" target="_blank" rel="noopener noreferrer">
                <span>- &nbsp; {{artigo.titulo}} &nbsp;-</span>
                <span *ngFor="let autor of questao.artigos[i].autor; let j = index">&nbsp; {{autor}} -</span>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>

  </div>
  
</div>
<div *ngIf="this.modoDeSelecao==true" class="d-flex ">
  <button (click)="onSelecionarQuestao.emit(questao)" class="btn btn-secondary mt-1 ml-auto">Selecionar</button>
</div>