<form class="form-group">
<div class="btn-group dropright">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="VerificaQuestoes()">
    Adicionar Questão Existente</button>

  <div class="dropdown ">
    <div class="dropdown-menu scrollable-menu">
      <div class="m-3" *ngFor="let tema of temas; let i = index;">
        <h6 class="dropdown-header">{{tema.nome}}</h6>
        <div *ngFor="let questao of questoes; let j = index;">
          <!--
          <div *ngIf="questao.tema.id === tema.id">
            <button class="dropdown-item" (click)="enviarQuestao(questao)"> {{questao.texto}}</button>
          </div>
          -->
        </div>
        <div class="dropdown-divider"></div>
      </div>
    </div>
  </div>
</div>
</form>
